<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input type="text" class="form-control" placeholder="Buscar Fabricantes...">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br />
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br />
            <span> Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"> Fabricantes registrados (<small>{{ total }}</small>)</h3>
                <div class="text-right">
                    <button class="btn waves-effect waves-light btn-rounded btn-primary" [routerLink]="['/admin/manufacturer', 'new']">
                  <i class="fa fa-plus"></i> Crear Fabricantes
                </button>
                </div>
                <table class="table table-hover">
                    <tr>
                        <thead>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Cif</th>
                            <th>Móvil</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let manufacturer of manufacturers">
                                <td>{{ manufacturer.code }}</td>
                                <td>{{ manufacturer.name }}</td>
                                <td>{{ manufacturer.email }}</td>
                                <td>{{ manufacturer.cif }}</td>
                                <td>{{ manufacturer.mobile }}</td>
                                <td>
                                    <button class="btn btn-primary" (click)=edit(manufacturer)><i class="fa fa-pen"></i></button>
                                    <button class="btn btn-danger" (click)="delete(manufacturer)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </tr>
                </table>

                <button class="btn btn-secondary" (click)="changePaginate(-5)">Anteriores</button>
                <button class="btn btn-secondary" (click)="changePaginate(5)">Siguientes</button>
            </div>
        </div>
    </div>
</div>