<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Fabricantes: {{ manufacturer?.name }}</h3>
            <br />
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="save(f)">
                        <div class="form-group">
                            <label>Código</label>
                            <input [(ngModel)]="manufacturer.code" name="code" type="text" class="form-control" placeholder="código">
                        </div>
                        <div class="form-group">
                            <label>Nombre</label>
                            <input [(ngModel)]="manufacturer.name" name="name" type="text" class="form-control" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input [(ngModel)]="manufacturer.email" name="email" type="email" class="form-control" placeholder="email" required>
                        </div>
                        <div class="form-group">
                            <label>Móvil</label>
                            <input [(ngModel)]="manufacturer.mobile" name="mobile" type="text" class="form-control" placeholder="móvil" required>
                        </div>
                        <div class="form-group">
                            <label>Cif</label>
                            <input [(ngModel)]="manufacturer.cif" name="cif" type="text" class="form-control" placeholder="cil" required>
                        </div>
                        <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar
                      </button>
                        <a routerLink="/admin/manufacturers" class="btn btn-danger waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>