<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/logo_quarter.png);">
    <div class="login-box card">
        <div class="card-header text-center">
            <a href="#">
                <img class="block-center rounded" src="assets/images/logo_quarter.png" alt="Image" width="85px" />
            </a>
        </div>
        <div class="card-body">
            <form [formGroup]="valForm" class="form-validate mb-3" role="form" name="loginForm" novalidate="" (submit)="login($event, valForm.value)">
                <div class="form-group">
                    <div class="input-group with-focus">
                        <input class="form-control border-right-0" id="email" type="email" name="email" placeholder="Usuario" required="" formControlName="email" />
                        <div class="input-group-append">
                            <span class="input-group-text text-muted bg-transparent border-left-0">
                            <em class="fa fa-envelope"></em>
                          </span>
                        </div>
                    </div>
                    <div class="text-danger" *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">Este campo es requerido.</div>
                    <div class="text-danger" *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">Email invalido.</div>
                </div>
                <div class="form-group">
                    <div class="input-group with-focus">
                        <input class="form-control border-right-0" id="exampleInputPassword1" type="password" name="password" placeholder="Contraseña" formControlName="password" required="" />
                        <div class="input-group-append">
                            <span class="input-group-text text-muted bg-transparent border-left-0">
                            <em class="fa fa-lock"></em>
                          </span>
                        </div>
                    </div>
                    <div class="text-danger" *ngIf="valForm.controls['password'].hasError('required') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">Este campo es requerido.</div>
                </div>
                <div class="clearfix">
                    <div class="checkbox c-checkbox float-left mt0">
                        <label>
                      <input type="checkbox" name="remember" formControlName="remember"/>
                      <span class="fa fa-check"></span>Recuérdame</label>
                    </div>
                </div>
                <div class="form-group text-center p-b-20">
                    <div class="col-xs-12">
                        <button class="btn btn-block btn-primary mt-3" type="submit">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>