.login-register {
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    padding: 0% 0;
    position: fixed;
}

.login-box {
    width: 360px;
    margin: 0 auto;
}

.login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px;
}

.login-box .social {
    display: block;
    margin-bottom: 30px;
}

#recoverform {
    display: none;
}

.login-sidebar {
    padding: 0px;
    margin-top: 0px;
}

.login-sidebar .login-box {
    right: 0px;
    position: absolute;
    height: 100%;
}