<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input type="text" class="form-control" placeholder="Buscar Productos...">
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"> Productos registrados (<small>{{ total }}</small>)</h3>
                <div class="text-right">
                    <button class="btn waves-effect waves-light btn-rounded btn-primary" [routerLink]="['/admin/product', 'new']">
                    <i class="fa fa-plus"></i> Crear Producto
                  </button>
                </div>
                <table class="table table-hover">
                    <tr>
                        <thead>
                            <th>Sku</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Peso Nec</th>
                            <th>Peso Bruto</th>
                            <th>Código Un</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of products">
                                <td>{{ product.sku }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.description }}</td>
                                <td>{{ product.weightNec }}</td>
                                <td>{{ product.weightGross }}</td>
                                <td>{{ product.codUn }}</td>
                                <td>
                                    <button class="btn btn-primary" (click)=edit(product)><i class="fa fa-pen"></i></button>
                                    <button class="btn btn-danger" (click)="delete(product)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </tr>
                </table>
                <button class="btn btn-secondary " (click)="changePaginate(-1) ">Anterior</button>&nbsp;
                <button class="btn btn-secondary " (click)="changePaginate(1) ">Siguiente</button>
            </div>
        </div>
    </div>
</div>