<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Productos: {{ product?.sku }}</h3>
            <br />
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="save(f)">
                        <div class="form-group">
                            <label>Sku</label>
                            <input [(ngModel)]="product.sku" name="sku" type="text" class="form-control" placeholder="Sku">
                        </div>

                        <div class="form-group">
                            <label>Nombre</label>
                            <input [(ngModel)]="product.name" name="name" type="text" class="form-control" placeholder="Nombre">
                        </div>

                        <div class="form-group">
                            <label>Descripción</label>
                            <input [(ngModel)]="product.description" name="description" type="text" class="form-control" placeholder="Descripción">
                        </div>

                        <div class="form-group">
                            <label>Peso Nec</label>
                            <input [(ngModel)]="product.weightNec" name="weightNec" type="text" class="form-control" placeholder="Peso Nec">
                        </div>

                        <div class="form-group">
                            <label>Peso Bruto</label>
                            <input [(ngModel)]="product.weightGross" name="weightGross" type="text" class="form-control" placeholder="Peso Bruto">
                        </div>

                        <div class="form-group">
                            <label>Unidades</label>
                            <input [(ngModel)]="product.unitBox" name="unitBox" type="text" class="form-control" placeholder="Unidades">
                        </div>

                        <div class="form-group">
                            <label>División</label>
                            <input [(ngModel)]="product.codDivision" name="codDivision" type="text" class="form-control" placeholder="División">
                        </div>

                        <div class="form-group">
                            <label>División de la Caja</label>
                            <input [(ngModel)]="product.codDivisionBox" name="codDivisionBox" type="text" class="form-control" placeholder="División de la Caja">
                        </div>

                        <div class="form-group">
                            <label>Familia</label>
                            <input [(ngModel)]="product.codFamilyProduct" name="codFamilyProduct" type="text" class="form-control" placeholder="Familia">
                        </div>

                        <div class="form-group">
                            <label>Código UN</label>
                            <input [(ngModel)]="product.codUn" name="codUn" type="text" class="form-control" placeholder="Código Un">
                        </div>

                        <div class="form-group">
                            <label>Fabricante</label>
                            <select [(ngModel)]="product.manufacturer._id" name="product.manufacturer" class="form-control" required>
                              <option value="" >Seleccione Fabricante</option>
                              <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer._id">{{ manufacturer.name }}</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-outline-primary waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar
                      </button>
                        <a routerLink="/admin/products" class="btn btn-outline-danger waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>