<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Catálogos: {{ catalog?.name }}</h3>
            <br />
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="save(f)">
                        <div class="form-group">
                            <label>Código</label>
                            <input [(ngModel)]="catalog.code" name="code" type="text" class="form-control" placeholder="código">
                        </div>
                        <div class="form-group">
                            <label>Nombre</label>
                            <input [(ngModel)]="catalog.name" name="name" type="text" class="form-control" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <label>Familia</label>
                            <input [(ngModel)]="catalog.family" name="familia" type="text" class="form-control" placeholder="familia">
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <input [(ngModel)]="catalog.description" name="description" type="text" class="form-control" placeholder="descripción" required>
                        </div>
                        <div class="form-group">
                            <label>Valor</label>
                            <input [(ngModel)]="catalog.value" name="value" type="text" class="form-control" placeholder="valor" required>
                        </div>
                        <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar
                      </button>
                        <a routerLink="/admin/catalogs" class="btn btn-danger waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>