<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Usuario: {{ user?.name }}</h3>
            <br />
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="save(f)">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input [(ngModel)]="user.name" name="name" type="text" class="form-control" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input [(ngModel)]="user.email" name="email" type="text" class="form-control" placeholder="nombre" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input [(ngModel)]="user.password" name="password" type="password" class="form-control" placeholder="nombre" required>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-outline-primary waves-effect waves-light m-r-10">
                                    <i class="fa fa-save"></i> Guardar
                                </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Direcciones</h3>
            <br />
            <form #f="ngForm" ngNativeValidate (ngSubmit)="saveAddress(f)">
                <input type="hidden" [(ngModel)]="address._id" name="id">
                <div class="row p-t-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input [(ngModel)]="address.name" name="name" type="text" class="form-control" placeholder="" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Correo Electrónico</label>
                            <input [(ngModel)]="address.email" name="email" type="email" class="form-control" placeholder="" required>
                        </div>
                    </div>
                </div>
                <div class="row p-t-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">telefono</label>
                            <input [(ngModel)]="address.phone" name="phone" type="text" class="form-control" placeholder="" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Móvil</label>
                            <input [(ngModel)]="address.mobile" name="mobile" type="text" class="form-control" placeholder="" required>
                        </div>
                    </div>
                </div>
                <div class="row p-t-20">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label"><strong>Direccion: </strong></label>
                            <input [(ngModel)]="address.address" name="address" type="text" class="form-control" placeholder="" required>
                        </div>
                    </div>
                </div>
                <div class="row p-t-20">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label">Provincia</label>
                                <input [(ngModel)]="address.provinceCode" name="provinceCode" type="text" class="form-control" placeholder="" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label">Población</label>
                                <input [(ngModel)]="address.townCode" name="townCode" type="text" class="form-control" placeholder="" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Código Postal</label>
                            <input [(ngModel)]="address.postCode" name="postCode" type="text" class="form-control" placeholder="" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Horario</label>
                            <input [(ngModel)]="address.timeTable" name="timeTable" type="text" class="form-control" placeholder="" required>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">{{editingAddress ? 'Editar dirección' : 'Añadir dirección'}}</button>
            </form>
            <div style="margin-top: 10px"></div>
            <div class="row p-t-20">
                <div class="col-md-12">
                    <h5><strong>Direcciones</strong></h5>
                    <div class="lead text-muted text-center" *ngIf="!addresses.length">No hay Direcciones ...</div>
                    <accordion [closeOthers]="true">
                        <accordion-group panelClass="todo-item {{item.complete?'todo-complete':''}}" *ngFor="let item of addresses; let i = index" [isDisabled]="item.complete">
                            <div accordion-heading>
                                <button class="btn btn-primary " (click)="editAddress(i, $event)" style="float:right"><i class="fa fa-pen"></i></button>&nbsp;
                                <button class="btn btn-danger " (click)="removeAddress(i, $event)" style="float:right"><i class="fa fa-trash"></i></button>
                                <span class="todo-title" [innerHTML]="titleItemAddress(item)">Task title</span>
                            </div>
                            <div class="col-md-12">
                                <div class="row p-t-20">
                                    <div class="col-md-3">
                                        <label class="control-label"><strong>Nombre: </strong></label>
                                        <span [innerHTML]="item.name" class="form-control-plaintext"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label"><strong>Correo: </strong></label>
                                        <span [innerHTML]="item.email" class="form-control-plaintext"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">telefono</label>
                                            <span [innerHTML]="item.phone" class="form-control-plaintext"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Móvil</label>
                                            <span [innerHTML]="item.mobile" class="form-control-plaintext"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-t-20">
                                    <div class="col-md-12">
                                        <label class="control-label"><strong>Direccion: </strong></label>
                                        <span [innerHTML]="item.address" class="form-control-plaintext"></span>
                                    </div>
                                </div>
                                <div class="row p-t-20">
                                    <div class="col-md-3">
                                        <label class="control-label"><strong>Provincia: </strong></label>
                                        <span [innerHTML]="item.provinceCode" class="form-control-plaintext"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label"><strong>Población: </strong></label>
                                        <span [innerHTML]="item.townCode" class="form-control-plaintext"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Código Postal</label>
                                            <span [innerHTML]="item.postCode" class="form-control-plaintext"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Horario</label>
                                            <span [innerHTML]="item.timeTable" class="form-control-plaintext"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Contacto</h3>
            <br />
            <div class="row ">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="saveContact(f)">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input [(ngModel)]="contact.name" name="contact.name" type="text" class="form-control" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input [(ngModel)]="contact.email" name="contact.email" type="email" class="form-control" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <label>Móvil</label>
                            <input [(ngModel)]="contact.mobile" name="contact.mobile" type="text" class="form-control" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <label>Horario</label>
                            <input [(ngModel)]="contact.timeTable" name="contact.timeTable" type="text" class="form-control" placeholder="nombre">
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-outline-primary waves-effect waves-light m-r-10">
                                    <i class="fa fa-save"></i> Guardar
                                </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Contrato</h3>
            <br />
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="saveContract(f)">
                        <div class="form-group">
                            <label>Contrato</label>
                            <input [(ngModel)]="contract.contract" name="contract.contract" type="text" class="form-control" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <label>Firma</label>
                            <input [(ngModel)]="contract.signing" name="contract.signing" type="text" class="form-control" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <label>Posición</label>
                            <input [(ngModel)]="contract.position" name="contract.position" type="text" class="form-control" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <label>Código de Promoción</label>
                            <input [(ngModel)]="contract.codPromotion" name="contract.codPromotion" type="text" class="form-control" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <label>Tipo de Contrato</label>
                            <input [(ngModel)]="contract.contractType" name="contract.contractType" type="text" class="form-control" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <label>Anotaciones</label>
                            <input [(ngModel)]="contract.annotation" name="contract.annotation" type="text" class="form-control" placeholder="nombre">
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-outline-primary waves-effect waves-light m-r-10">
                                    <i class="fa fa-save"></i> Guardar
                                </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Facturación</h3>
            <br />
            <form #f="ngForm" ngNativeValidate (ngSubmit)="saveBilling(f)">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nombre Fiscal</label>
                            <input [(ngModel)]="billing.company" name="billing.company" type="text" class="form-control" placeholder="nombre">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>CIF</label>
                            <input [(ngModel)]="billing.cif" name="billing.cif" type="text" class="form-control" placeholder="nombre">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Dirección</label>
                            <input [(ngModel)]="billing.address" name="billing.addres" type="text" class="form-control" placeholder="nombre">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Provincia</label>
                            <input [(ngModel)]="billing.provinceCode" name="billing.province" type="text" class="form-control" placeholder="nombre">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Población</label>
                            <input [(ngModel)]="billing.townCode" name="billing.townCode" type="text" class="form-control" placeholder="nombre">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Código Postal</label>
                            <input [(ngModel)]="billing.postCode" name="billing.postCode" type="text" class="form-control" placeholder="nombre">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>iva</label>
                            <input [(ngModel)]="billing.iva" name="billing.iva" type="text" class="form-control" placeholder="nombre">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Recargo</label>
                            <input [(ngModel)]="billing.recharge" name="billing.recharge" type="text" class="form-control" placeholder="nombre">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Tipo</label>
                            <input [(ngModel)]="billing.billingType" name="billing.billingType" type="text" class="form-control" placeholder="nombre">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>BIC</label>
                            <input [(ngModel)]="billing.bic" name="billing.bic" type="text" class="form-control" placeholder="nombre">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>IBAN</label>
                            <input [(ngModel)]="billing.iban" name="billing.iban" type="text" class="form-control" placeholder="iban">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-outline-primary waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-2">
        <a routerLink="/admin/users" class="btn btn-danger btn-block waves-effect waves-light">Cancelar</a>
    </div>
</div>