<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input type="text" class="form-control" placeholder="Buscar usuario...">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br />
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br />
            <span> Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"> Usuarios registrados (<small>{{ total }}</small>)</h3>
                <div class="text-right">
                    <button class="btn waves-effect waves-light btn-rounded btn-primary" [routerLink]="['/admin/user', 'new']">
                    <i class="fa fa-plus"></i> Crear Usuario
                  </button>
                </div>
                <table class="table table-hover">
                    <tr>
                        <thead>
                            <th>Email</th>
                            <th>Nombre</th>
                            <th>Role</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td>{{ user.email }}</td>
                                <td>{{ user.name }}</td>
                                <td>
                                    <select [(ngModel)]="user.role" name="role" class="form-control">
                                         <option value="ADMIN_ROLE">Administrador</option>
                                         <option value="USER_ROLE">Usuario</option>             
                                  </select>
                                </td>
                                <td>
                                    <button class="btn btn-primary" (click)=edit(user)><i class="fa fa-pen"></i></button>
                                    <button class="btn btn-danger" (click)="delete(user)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </tr>
                </table>

                <button class="btn btn-secondary" (click)="changePaginate(-5)">Anteriores</button>
                <button class="btn btn-secondary" (click)="changePaginate(5)">Siguientes</button>
            </div>
        </div>
    </div>
</div>